<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .logout {
        background-color: red;
        padding: 8px;
        color: white;
        border-radius: 10px;
        border: 1px solid red;
      }
    </style>
  </head>
  <body>
    <fieldset>
      <table>
        <tr align="right">
          <td>
            <form action="../controller/logout.php" method="get">
              <input class="logout" type="submit" value="Logout" />
            </form>
          </td>
        </tr>
      </table>
    </fieldset>
  </body>
</html>
